@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.starButton {
    border: none;
    background-color: transparent;
    color: grey;
  }

  .starButton:hover {
    cursor: pointer;
    color: black;
  }

  .trashButton{
    border: none;
    background-color: transparent;
    color: grey;
  }

  .trashButton:hover {
    cursor: pointer;
    background-color: transparent;
    color: black;
  }

  .isActive{
    border: none;
    background-color: transparent;
    color: orange;
  }

  .isActive:hover{
    cursor: pointer;
  }